/*
	Made by:
	    SANDU Victor Iulian
	    VLAD Liviu Alexandru
	    SIMION Cristina Florentina
*/

body {
    background: url("imgs/background.png");
    background-repeat: repeat;
    padding: 10px;


    /* COLORS */
    --primaryColor: #0e7c7b;
    --secondaryColor: #141414;
    --tertiaryColor: #ffce74;
    --quaternaryColor: #f26419;
    --quinaryColor: #000300;

    /* VARIABLES */

    --topBarHeight: 40px;
    --pannelsBackgroundColor: var(--secondaryColor);
    --canvasBackgroundColor: var(--primaryColor);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}
  
.settings,
.buttons,
.canvas {
    border: 1px solid var(--primaryColor);
}

.ihatebootstrap {
    height: calc(100% - (var(--topBarHeight) + 25px));
}

.settingsContainer, 
.canvasContainer {
    height: 100%;
}

.settings, 
.canvas {
    width: 100%;
    height: 100%;
}

.buttons {
    width: 100%;
    height: var(--topBarHeight);
    color: white;
    font-size: 24px;
    display: flex; 
    align-items: center;
}

.buttons i {
    padding: 0 5px;    
}

.buttons:first-child {
    padding-left: 10px;
}

.buttons i:last-child {
    margin-right: 10px;
}

.buttons i:nth-last-child(2) {
    margin-left: auto;
}

.buttons i:hover {
    color: var(--tertiaryColor);
    cursor: pointer; 
}

.canvas {
    background-color: white;
}

.settings, 
.buttons {
    background-color: var(--pannelsBackgroundColor);
}

#colorBox {
    display: inline-flex;
    height: 24px;
    width: 24px;
    border: 2px solid white;
    background: black;
    margin-bottom: -2px;
    margin-left: 5px;   
}


.settingsContainer {
    color: white;
}

#downImg {
    color: inherit; 
}

#uploadImage {
    display: none;
    background: white;
    border: 2px solid black;
    position: absolute;
    width: 400px;
    height: 400px;
    margin: -700px 400px;
  }
  
  #closeUploadBox {
    margin-top: 7px;
    margin-right: 7px;
    position: relative;
    float: right;
    z-index: 99;
  }
  
  .uploadBoxContent {
    position: relative;
    padding: 100px;
  }
  
  .uploadBoxContent button {
    margin-left: 60px;
  }